[Unit]
Description=SmartHomeControl
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=1
Environment="dotnet=/home/root/dotNet/dotnet"
Environment="SYS_PATH=/sys/class/gpio"
ExecStart=${dotnet} /home/root/API/API.dll
TimeoutStopSec=5
NonBlocking=yes

[Install]
WantedBy=multi-user.target